{{define "root-body"}}
<div>
  <a href="/admin/login">Login</a>
  <br>
  <ul>
  {{range .List}}
    <li><a href="/news/{{.ID.Hex}}">{{.Title}}</a></li>
  {{end}}
  </ul>
</div>
{{end}}

{{define "root-script"}}
<script>
</script>
{{end}}

{{define "root-style"}}
{{end}}
