{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/-/css/style.css" rel="stylesheet">
    {{template "root-style"}}
  </head>
  <body>
    <div>
      Navbar
    </div>
    {{template "root-body"}}
    <div>
      Footer
    </div>
    {{template "root-script"}}
  </body>
</html>
{{end}}
