{{define "root-body"}}
<div>
  Admin List<br>
  <a href="/admin/logout">Logout</a><br>
  <a href="/admin/create">Create News</a>
  <br>
  <table class="ui table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range .List}}
      <tr>
      <td>{{.ID.Hex}}</td>
      <td>{{.Title}}</td>
      <td>
        <a class="ui green button" href="/admin/edit?id={{.ID.Hex}}">Edit</a>
        <form method="POST">
          <input type="hidden" name="action" value="delete">
          <input type="hidden" name="id" value="{{.ID.Hex}}">
          <button class="ui submit button" type="submit">Delete</button>
        </form>
      </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}
