{{define "root-body"}}
<div>
  <form class="ui form" method="POST">
    <div class="field">
      <label>Username</label>
      <input name="username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <button class="ui submit blue button">Register</button>
  </form>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}
